api_addr                = "https://{{ vault_install_api_fqdn }}:{{ vault_install_api_port }}"
cluster_addr            = "https://{{ vault_install_cluster_fqdn }}:{{ vault_install_cluster_port }}"
cluster_name            = "aap-vault-cluster"
disable_mlock           = true
ui                      = true

listener "tcp" {
  address       = "{{ vault_install_api_addr }}:{{ vault_install_api_port }}"
  tls_cert_file = "/etc/vault.d/vault-cert.pem"
  tls_key_file  = "/etc/vault.d/vault-key.pem"
}

backend "raft" {
  path    = "/opt/vault/data"
  node_id = "aap-hashi-vault"
}

# Enterprise license_path
license_path = "/etc/vault.d/vault.hclic"

# Enable secrets engine
path "sys/mounts/*" {
  capabilities = [ "create", "read", "update", "delete", "list" ]
}

# List enabled secrets engine
path "sys/mounts" {
  capabilities = [ "read", "list" ]
}

# Work with pki secrets engine
path "pki*" {
  capabilities = [ "create", "read", "update", "delete", "list", "sudo", "patch" ]
}
