[aap_hashi]
[aap_hashi:vars]
install_domain="{{ domain_name }}"
[aap_hashi:children]
aap_hashi_vault
aap_hashi_terraform
aap_hashi_gitlab
aap_hashi_aap

[aap_hashi_vault]
vault.your.domain.name

[aap_hashi_terraform]
terraform.your.domain.name

[aap_hashi_gitlab]
gitlab.your.domain.name

[aap_hashi_aap]
aap.your.domain.name
